{%extends 'base.html'%}
{%block content%}
  <!-- CATEGORY TITLE -->
  <h3 class="text-uppercase text-warning mb-4" style="letter-spacing:2px;">
    CATEGORY - {{ category.category_name }}
  </h3>

  <!-- POSTS -->
  <div class="row">
    {% if posts %}
      {% for post in posts %}
        <div class="col-md-6 mb-4">
          <div class="card border-0">
            <div class="card-body p-0">
              <h4>{{ post.title }}</h4>
              <small class="text-muted">
                {{ post.created_at|timesince }} ago | {{ post.author }}
              </small>
              <p class="mt-2">
                {{ post.short_description|truncatewords:20 }}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>No posts found in this category.</p>
    {% endif %}
  </div>

</div>


{%endblock%}