{%extends 'base.html'%}
{%block content%}
<h3 class="text-warning mb-4" style="letter-spacing:2px;">
    Search Tree - {{ keyword }}
  </h3>

  <!-- POSTS -->
  <div class="row">
    {% if blogs %}
      {% for i in blogs %}
        <div class="col-md-6 mb-4">
          <div class="card border-0">
            <div class="card-body p-0">
              <h4><a href="{% url 'blogs' i.slug %}" class="text-dark">{{ i.title }}</a></h4>
              <small class="text-muted">
                {{ i.created_at|timesince }} ago | {{ i.author }}
              </small>
              <p class="mt-2">
                {{ i.short_description|truncatewords:20 }}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>No posts found in this category.</p>
    {% endif %}
  </div>

</div>
{%endblock%}