{% extends 'base.html' %}
{% block content %}

<div class="row">

    <!-- LEFT SIDEBAR -->
    <div class="col-md-3">
        {% include 'dashboard/sidebar.html' %}
    </div>

    <!-- RIGHT CONTENT -->
    <div class="col-md-9">
        <div class="row">

            <div class="col-12 mb-3">
                <span class="text-muted">
                    logged in as: <strong>{{ user.username }}</strong>
                </span>
            </div>

            <!-- ALL CATEGORIES -->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header text-center text-uppercase fw-bold">
                        All Categories
                    </div>
                    <div class="card-body text-center">
                        <h5>{{ category_count }}</h5>
                    </div>
                </div>
            </div>

            <!-- ALL BLOGS -->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header text-center text-uppercase fw-bold">
                        All Blogs
                    </div>
                    <div class="card-body text-center">
                        <h5>{{ blogs_count }}</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}
